<div class="ContentSideSections header">
	<button pButton label="Create new scene" class="float-right mt10" [routerLink]="['../Scenes', 'ScenesNew']" style="margin-left:20px;"></button>
	<button pButton label="Create new suspect" class="float-right mt10" [routerLink]="['../Suspects', 'DossierNew']"></button>
	<h1>CSI:</h1>
</div>
<div class="ContentSideSections Implementation">
	<img src="app/shared/resources/img/hero-img-1.jpg" alt="">
</div>