<p-messages [value]="msgs"></p-messages>

<header>
	<div class="wrapper">
		<img src="app/shared/resources/img/logo-new.png" alt="" width="138px" height="95">
		<h2>{{ !profileData ? 'Searching...' : 'Fingerprint match found!' }}</h2>
	</div>
</header>
<div class="wrapper clearfix">
		
	<div class="clearfix">
		<h4>Name</h4>
		<h1>{{ profileData ? profileData.name : ('name' | randomize:search | async) }}</h1>
	</div>
	
	<div class="ui-grid ui-grid-responsive">
		<div class="ui-grid-row">
			<div class="ui-grid-col-8">
				
				<div class="ui-grid ui-grid-responsive">
					<div class="ui-grid-row">
						<div class="ui-grid-col-6">
							<h4>Geschlech</h4>
							<p>{{ profileData ? profileData.gender : ('gender' | randomize:search | async) }}</p>
						</div>
						<div class="ui-grid-col-6">
							<h4>Profession</h4>
							<p>{{ profileData ? profileData.profession : ('profession' | randomize:search | async) }}</p>
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-6">
							<h4>Age</h4>
							<p>{{ profileData ? profileData.age : ('age' | randomize:search | async) }}</p>
						</div>
						<div class="ui-grid-col-6">
							<h4>hair</h4>
							<p>{{ profileData ? profileData.hair : ('hair' | randomize:search | async) }}</p>
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-6">
							<h4>Eyes</h4>
							<p>{{ profileData ? profileData.eyes : ('eyes' | randomize:search | async) }}</p>
						</div>
						<div class="ui-grid-col-6">
							<h4>figure</h4>
							<p>{{ profileData ? profileData.figure : ('figure' | randomize:search | async) }}</p>
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-6">
							<h4>Height</h4>
							<p>{{ profileData ? profileData.tallness : ('height' | randomize:search | async) }}</p>
						</div>
					</div>
				</div>
				
			</div>
			<div class="ui-grid-col-4">
				<div class="profile-image">
					<figure>
						<img [src]="profileData ? profileData.image : 'app/shared/resources/img/random.gif'" alt="">
					</figure>
				</div>
			</div>				
		</div>
	</div>
	
	<div class="ui-grid ui-grid-responsive">
		<div class="ui-grid-row">
			<div class="ui-grid-col-12">
				<h4>Address</h4>
				<p>{{ profileData ? profileData.address : ('address' | randomize:search | async) }}</p>
			</div>
		</div>
		<div class="ui-grid-row">
			<div class="ui-grid-col-12">
				<h4>Police records</h4>
				<p>{{ profileData ? profileData.police_records : ('records' | randomize:search | async) }}</p>
			</div>
		</div>
	</div>
</div>
<footer *ngIf="profileData">
	<div class="wrapper">
		<img src="app/shared/resources/img/logo-new.png" alt="" width="70px" height="48px">		
	</div>
</footer>