@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
html,
body {
  min-height: 100%;
  overflow: auto;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #202020;
}
body.bgr-on {
  background: #202020 url('app/shared/resources/img/prof-footer-bgr.png') 115% 100% no-repeat;
}
@media screen and (max-width: 820px) {
  body.bgr-on {
    background-position: 200% 100%;
  }
}
@media screen and (max-width: 590px) {
  body.bgr-on {
    background-position: 20% 100%;
  }
}
.right {
  float: right;
}
.wrapper {
  width: 800px;
  margin: 0 auto;
  padding: 35px;
}
.wrapper h1,
.wrapper h4,
.wrapper p {
  font-family: 'Open Sans', sans-serif;
}
.wrapper h1 {
  margin: 0 0 30px;
  color: #fefefe;
  font-size: 38px;
  font-weight: 400;
}
.wrapper h4 {
  margin: 0 0 5px;
  color: #5e5e5e;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
}
.wrapper p {
  margin: 0 0 30px;
  color: #d5d5d5;
  font-weight: 400;
  font-size: 21px;
  white-space: pre-wrap;
}
@media screen and (max-width: 960px) {
  .wrapper {
    width: 100%;
    margin: 0;
  }
}
header {
  background: url('app/shared/resources/img/prof-header-bgr.png') 50% 50% no-repeat;
  background-size: cover;
  border-bottom: 1px solid #5e5e5e;
}
header .wrapper {
  padding-bottom: 20px;
}
header .wrapper h2 {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0 3px 50px;
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
}
@media screen and (max-width: 640px) {
  header .wrapper h2 {
    display: block;
    margin: 0;
  }
}
footer .wrapper {
  position: relative;
  z-index: 1;
  text-align: center;
}
footer .wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 35px;
  right: 35px;
  width: auto;
  height: 1px;
  background: #5e5e5e;
}
.profile-image {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  width: auto;
}
.profile-image figure {
  display: block;
  margin: 18px 12px;
}
.profile-image figure img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.profile-image:before,
.profile-image:after,
.profile-image figure:before,
.profile-image figure:after {
  content: '';
  position: absolute;
  z-index: 2;
  width: 36px;
  height: 34px;
  border-color: #7cc243;
  border-style: solid;
}
.profile-image:before {
  top: 0;
  left: 0;
  border-width: 1px 0 0 1px;
}
.profile-image:after {
  top: 0;
  right: 0;
  border-width: 1px 1px 0 0;
}
.profile-image figure:before {
  bottom: 0;
  right: 0;
  border-width: 0 1px 1px 0;
}
.profile-image figure:after {
  bottom: 0;
  left: 0;
  border-width: 0 0 1px 1px;
}
