@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Quantico:400,700,400italic,700italic);
body {
  margin: 0;
  padding: 0;
  font-family: 'Quantico', Arial, Helvetica, sans-serif;
  color: #DDDDDD;
  background: #202020;
}
@media print {
  body * {
    visibility: hidden;
  }
  body * .printable,
  body * .printable * {
    visibility: visible !important;
  }
  body * .printable {
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media screen {
  body .qr-code-placeholder img {
    display: block;
    width: 110px;
    height: 110px;
    border: none;
  }
}
.splashscreen {
  text-align: center;
  height: 100%;
}
.splashscreen figure {
  margin: 20px 0;
}
.splashscreen figure.logo {
  padding-top: 200px;
}
