<div class="PC">
    <div id="MENUSIDE" [class.active]="mobileMenuActive" *ngIf="loggedIn">
        <div id="MENUSIDEindent">
            <span id="LOGO" class="">
                <a href="#" [routerLink]="['Landing']" (click)="activeMenuId = dashboardtitle.id">
                    <img src="app/shared/resources/img/logo-new.png" alt="logo">
                </a>
                <a href="#" id="openMobileMenuBtn" (click)="toggleMenu($event)" [class.active]="mobileMenuActive">
                    <img src="app/shared/resources/img/menuicon.svg" alt="menu">
                </a>
            </span>

            <!-- Menu items -->

            <!-- 0. Dashboard main screen -->
            <span id="dashboard" #dashboardtitle class="MenuSideMainLink bordersOfMenuSide" [class.MenuSideMainLinkDark]="!activeMenuId || dashboardtitle.id == activeMenuId" (click)="activeMenuId = dashboardtitle.id; mobileMenuActive = false" [routerLink]="['Landing']">
                <img src="app/shared/resources/img/mono/misc.svg" alt="dashboard">
                <span class="MainLinkText">Dashboard</span>
            </span>
            <div class="SubMenuLinkContainer submenuhide"></div>

            <!-- 1. scenes -->
            <span id="scenes" #scenestitle class="MenuSideMainLink bordersOfMenuSide" [class.MenuSideMainLinkDark]="scenestitle.id == activeMenuId" (click)="activeMenuId = scenestitle.id; mobileMenuActive=false" [routerLink]="['Scenes']">
                <img src="app/shared/resources/img/mono/input.svg" alt="">
                <span class="MainLinkText">Scenes</span>
            </span>
            <div class="SubMenuLinkContainer submenuhide"></div>

            <!-- 2. suspects -->
            <span id="suspects" #suspectstitle class="MenuSideMainLink bordersOfMenuSide" [class.MenuSideMainLinkDark]="suspectstitle.id == activeMenuId" (click)="activeMenuId = suspectstitle.id; mobileMenuActive=false" [routerLink]="['Suspects']">
                <img src="app/shared/resources/img/mono/panel.svg" alt="">
                <span class="MainLinkText">Files</span>
            </span>
            <div class="SubMenuLinkContainer submenuhide"></div>
            <!-- <div class="SubMenuLinkContainer" [ngClass]="{'submenushow': (scenestitle.id == activeMenuId), 'submenuhide': (scenestitle.id != activeMenuId)}">
                <a class="SubMenuLink" [routerLink]="['Scenes']" (click)="mobileMenuActive = false">&#9679; All scenes</a>
            </div> -->

        </div>
    </div>

    <div id="CONTENTSIDE">
        <div id="CONTENTSIDEindent">

            <!-- header bar -->
            <div class="ContentSideSections" id="PFTopLinksCover" style="height: 30px">
                <a href="#" id="openMenuBtn" (click)="toggleMenu($event)" [class.active]="mobileMenuActive"><img src="app/shared/resources/img/menuicon.svg" alt="menu"></a>
                
                <div style="float:right" *ngIf="loggedIn">
					<!--<button class="ui-theme-south-street" type="button" #menuBtn pButton icon="fa-list" [label]="authMail"></button>-->
					
					<button class="round-btn" #menuBtn>{{ authMail }} <i class="fa fa-caret-down" aria-hidden="true"></i></button>
					<p-menu [popup]="true" [trigger]="menuBtn">
						<ul>
							<li><a data-icon="fa-user-plus" [routerLink]="['/Register']"><span>Register new user</span></a></li>
							<li><a data-icon="fa-sign-out" (click)="logout(e)"><span>Logout</span></a></li>	
						</ul>	
					</p-menu>
                </div>
            </div>

            <!-- content -->
            <div>
                <router-outlet></router-outlet>
            </div>

            <!-- footer -->
            <div class="ContentSideSections">
                <span class="floatLeft fontSize14 gray"><a href="http://csi.etl.yt">CSI:TRAINING</a>, Copyright &copy; 2016</span>
                <span class="floatRight fontSize14 gray">All rights reserved</span>
                <div style="clear:both"></div>
            </div>

        </div>
    </div>
</div>
