body {
    margin: 0;
}
#LOGOTEXTSIDE{display:block;width:290px; float:left; height:auto; z-index:999; margin:-23px 0px 0px 0px; padding-top:25px; line-height:30px;}
#LOGOTEXTSIDE img{width:245px;}
.logoDarkText{color:#FDFDFD;}
.logoBlueText{color:#9AC30D;}
.text-right {text-align: right;}

.round-btn {
    display: inline-block; vertical-align: middle; 
    padding: 0; margin: 0;
    text-align: center; font-size:15px; white-space: nowrap; font-weight: 400; 
    color: rgba(0,0,0,0.75); font-size: 18px; line-height: 26px; text-decoration: none;
    background: none; 
    border: none; border-radius: 50px;
    outline: none !important; 
    cursor: pointer
}

/* menu side style*/
#MENUSIDE{width:85px; float:left; background-color:#313b3f; border-right:solid 1px #151d21; overflow:hidden; width: 299px;}
#MENUSIDEindent{width:100%; height:auto;}
#LOGO{height:65px; display:block; padding:20px 0 5px 0px; z-index:997; background-color:#202020; text-align:left;}
#LOGO img{width:auto; height: 52px; margin: 0 20px;}
.MenuSideMainLink{width:100%; height:37px; display:block; padding:15px 0px 0px 27px; cursor:pointer;}
.MenuSideMainLink input{ padding:6px; background-color:#354044; outline:none; border:0px; border:none; color:#9ba5ac; border-radius:20px;
    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.5); -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.5); box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.5);}
.MenuSideMainLinkDark{background-color:#20282b !important; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
.MenuSideMainLink:hover{background-color:#20282b; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
.MenuSideMainLink img{width:20px; height:auto; float:left;}
.MainLinkText{color:#9ba5ac; font-size:16px; margin:0px 0px 0px 30px; display:block;}

.SubMenuLinkContainer{width:auto; padding:20px; overflow:hidden; background-color:#20282b;}
.SubMenuLink{width:50%; display:inline-block; float:left; padding:6px; box-sizing:border-box; cursor:pointer; border-radius:4px; -webkit-border-radius:4px; color:#659eb3; font-size:14px;
}
.SubMenuLink:hover{background-color:#101517; color:#8dc5d9;}

.selectmenu{width:auto; max-width:120px; float:right; padding:5px; outline:none; font-size:16px; display:block; overflow:hidden;}
.LEVEL1{color:#9AC30D; padding-left:10px;}
.LEVEL2{font-size:12px; color:#9AC30D; padding-left:10px;}
.selectmenu option{ font-size:12px;}



/* content side style*/
#CONTENTSIDE{width:auto; overflow:hidden; z-index:1; margin-left:300px; background-color:#FFFFFF;}
#CONTENTSIDEindent{width:100%; height:auto;}
.ContentSideSections{display:block; border-bottom:solid 1px #dde3e6; padding:30px; overflow:visible;background-color:#f5f7f8;}
    .ContentSideSections h1 {margin: 0 0 20px; color: #9AC30D; font-size: 30px; text-shadow: 0 1px 0 #ffffff;}
.MOBILE .ContentSideSections{padding:14px 24px;}
#PFTopLinksCover{background-color:#9AC30D;}
#PFMobileTopLinksCover{ position:inherit;}
.PFTopLinks{width:80px; display:inline-block; text-align:center; padding:10px 5px; border-radius:5px;  font-size:12px; -webkit-border-radius:5px; margin-top:-17px; background-color: rgb(246, 249, 251); margin-left: 5px;
    -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; overflow:hidden;}
.PFTopLinks:hover, .PFTopLinksMobile:hover{background-color:rgba(255,255,255,0.8);
    -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
.PFTopLinksMobile{width:20%; display:inline-block; text-align:center; padding:1%; border-radius:5px;  font-size:11px; -webkit-border-radius:5px;
    -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; overflow:hidden;}
.PFTopLinks img, .PFTopLinksMobile img{width:80%; height:30px;}
.PFGrayText{color:#aab7c1;}
.PFDarkText{color:#313b3f;}

#openMenuBtn{float:left; padding:10px; margin-top:-9px; border-radius:5px; display:none;}
#openMobileMenuBtn {float: left; padding: 0; margin-left: 23px; margin-top: 0; border-radius: 5px; display: none;}
#openMenuBtn.active, #openMenuBtn:hover, #openMenuBtn:focus,
#openMobileMenuBtn:hover, #openMobileMenuBtn:focus{background-color:#202020;}
#openMenuBtn img,
#openMobileMenuBtn img{width:30px;}

.PropertyBox{width:27%; height:280px; float:left; padding:3%; overflow:hidden; text-align:center; border-radius:5px; -webkit-border-radius:5px; display:block;
    -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
.PropertyBox:hover, .MOBILE .PropertyBox:hover{background-color:#e0e5e9;
    -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
.PropertyBox img{width:60%;}
.PropertyBox .PropertyTopic{display:block; color:#9AC30D; font-size:18px; margin-bottom:10px;}
.PropertyBox .PropertyText{display:block; color:#414D52; font-size:14px; font-family:'RobotoRegular';}

.MOBILE .PropertyBox{width:27%; height:250px; float:left; padding:3%; overflow:hidden; text-align:center; border-radius:5px; -webkit-border-radius:5px; display:block;
    -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
.MOBILE .PropertyBox img{width:80%;}
.MOBILE .PropertyBox .PropertyTopic{display:block; color:#9AC30D; font-size:12px;}
.MOBILE .PropertyBox .PropertyText{display:block; color:#8c9aa5; font-size:11px;}

.widgetsLink{width:90%; height:auto; background-image:url(../images/widgetIconCover.svg); background-position:top; background-repeat:no-repeat; background-size:contain; display:table;
    text-align:center; padding:5%;}
.widgetsLink img{width:40%; height:auto; margin-top:5%;}
.widgetsLink span{ width:100%; margin-top:10px; overflow:hidden; height:50px; display:table; font-size:14px;}
.widgetsLink:hover span{color:#fdd106; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}

.MOBILE .widgetsLink img{width:40%; height:auto; margin-top:1%;}
.MOBILE .widgetsLink span{ width:100%; margin-top:0px; overflow:hidden; height:50px; display:table; font-size:11px;}

.BoxesIndent{width:85%; float:right; padding-top:30px;}
.brandLogo{ width:70px; height:70px; display:block;
    margin:10px 10px 10px 0px; float:left;}

.MOBILE .BoxesIndent{width:85%; float:none; margin:0px auto; padding-top:30px;}

/** ThemeSwitcher **/
.navOverlay{width:200px; max-height:400px; overflow-y:auto; background-color:#eff3f6; border:solid 1px #bcc7cf; z-index:99999999999; position: absolute;
    border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2); -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2); margin-left:-60px;}
.navOverlay a{display:block; padding:10px; border-bottom:solid 1px #bcc7cf; text-align:left; color:#87939B; overflow:hidden;}
.navOverlay a:hover{ color:#fdd106;}
.navOverlay a span.ui-theme{width:30px; height:27px; float:left; border:solid 1px #D7DCE0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.navOverlay a span.ui-text{ display:inline-block; margin-top:7px; margin-left:10px; font-size: 14px;}
/* cursor */
.cursorPointer{cursor:pointer;}

/* OTHERS */
a{ text-decoration:none; outline:none;color: #9AC30D}
.dispBlock{display:block !important;}
.TextShadow{text-shadow: 0 1px 0 #ffffff}
.TextShadowNone{text-shadow:none;}
.underline{ text-decoration:underline;}
.fontSize34{font-size:34px;}
.fontSize30{font-size:30px;}
.fontSize24{font-size:24px;}
.fontSize21{font-size:21px;}
.fontSize18{font-size:18px;}
.fontSize14{font-size:14px;}
.ContentX{width:95% !important; margin-bottom:30px; text-align:center; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease;
    transition: all 0.5s ease;}
.ContentX .defaultText{font-size:16px;}
.ContentX .defaultTopic{font-size:34px; line-height:36px; text-align:center;}
.ContentX .PropertyBox{height:220px;}
.ContentX .PropertyBox .PropertyTopic{font-size:14px;}
.ContentX .PropertyBox .PropertyText{font-size:12px;}
.PFTopLinksCover{padding-top:130px !important; height:auto !important; min-height:60px !important; text-align:left !important;  -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
.PFTopLinksCover .PFTopLinks{float:left !important; margin-top:0px;  -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease;
    transition: all 0.5s ease;}

.wid50{width:50px;}

.texAliCenter{text-align:center;}

/* margins */
.marginRight10{margin-right:10px;}
.marginRight20{margin-right:20px;}
.marginBottom20{margin-bottom:20px;}
.marLefRigAuto{ margin-left:auto !important; margin-right:auto !important;}

/*fonts*/
.boldFont{font-family: 'RobotoMedium', "Trebuchet MS", Arial, Helvetica, sans-serif;}
.boldItalicFont{font-family: 'RobotoRegular', "Trebuchet MS", Arial, Helvetica, sans-serif; font-style:italic;}
.mediumFont{font-family: 'RobotoMedium', "Trebuchet MS", Arial, Helvetica, sans-serif;}
.regularFont{font-family: 'RobotoRegular', "Trebuchet MS", Arial, Helvetica, sans-serif;}

.bordersOfMenuSide{border-top:solid 1px #404a4e;}
.hiddenIcons{opacity:0; filter:alpha(opacity=0);margin-left:-30px}
.hiddenLogo{opacity:0; filter:alpha(opacity=0);}
.emptyBox{display:block; height:121px;}

/* display */
.dispBlock{ display:block;}
.dispTable{ display:table;}
.overHidden{ overflow:hidden;}

/* floating */
.floatRight{float:right;}
.floatLeft{float:left;}

/* content boxes*/
.Content33{width:33%; }
.Content50{width:50%; }
.Content66{width:65%; background-position:left top; background-repeat:no-repeat;}
.Content100{width:100%;}

/* general text styles */
.defaultText{font-size:16px; color:#404C51;}
.defaultTopic{font-size:46px; color:#DB2226; line-height:46px; padding:10px 0px 10px 0px;}

/* buttons */
.BigButton{width:90%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; display:table; font-size:20px; font-family: 'exobolditalic', "Trebuchet MS", Arial, Helvetica, sans-serif; color:#312E1C; margin:10px 0px 10px 0px; cursor:pointer;
    padding:20px; border-radius:5px; border-right:solid 60px #404c51;}
.BigButton img{ margin-right:-60px; height:23px;}

.YellowBtn{background-color:#fdd106; -webkit-box-shadow: 0px 2px 0px 0px rgba(231,191,9,1); -moz-box-shadow: 0px 2px 0px 0px rgba(231,191,9,1); box-shadow: 0px 2px 0px 0px rgba(231,191,9,1);}
.YellowBtn:hover{ background-color:#fcdb42;}
.OrangeBtn{background-color:#fba751; -webkit-box-shadow: 0px 2px 0px 0px rgba(212,135,56,1); -moz-box-shadow: 0px 2px 0px 0px rgba(212,135,56,1); box-shadow: 0px 2px 0px 0px rgba(212,135,56,1);}
.OrangeBtn:hover{ background-color:#feb66d;}

/* text colors */
.orange{color:#fca752;}
.gray{color:#84939f;}
.pink{color:#e26e61;}
.yellow{color:#fdd106;}
.green{color:#39b54a;}
.blue{color:#9AC30D;}
.subitem{color:#84939f;}

.fixedTop{position:fixed !important; margin-top:0 !important;}
.animated{-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}

input.searchInput {
    padding-left: 30px;
}

/** ClearFix **/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .clearfix { height:1%; }
.clearfix { display:block; }

/* override */
.ui-widget {
    font-size: 90%;
}

.Implementation {
    background-color:#FFFFFF;
    overflow: visible;
}

.Implementation h3 {
    margin-top: 30px;
    color: #5C666A;
}

.Implementation h3.first {
    margin-top: 0px !important;
}

.Implementation h4 {
    color: #5C666A;
}

.SubSubMenu {
    padding: 15px 30px;
}
.SubSubMenu ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
.SubSubMenu ul li {
    list-style: none;
    width: 20%;
    float: left;
    margin-top: 5px;
}

.SubSubMenu ul li a:hover {
    color: #fdd106
}

.Source .ui-tabview-panel {
    color: #404C51 !important;
}

.Source h3 {
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: normal;
}

.Source h4 {
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: normal;
}

.Source p {
    font-size: 16px;
    margin: 10px 0;
}
.Source .doc-tablewrapper {
    margin: 10px 0;
}

.Source a {
    color: #9AC30D;
}

/* Docs Table */
.doc-table {
    border-collapse: collapse;
    width: 100%;
}

.doc-table th {
    background-color: #dae8ef;
    color: #404C51;
    border: solid 1px #C1D5DF;
    padding: 5px;
    font-size: 16px;
}

.doc-table tbody td {
    color: #404C51;
    padding: 4px 10px;
    border: 1px solid #E5EBF0;
    font-size: 16px;
}

.doc-table tbody tr:nth-child(even) {
    background-color: #FBFCFD;
}

.doc-table tbody tr:nth-child(odd){
    background-color: #F3F6F9;
}

/* Tabs Source */
.Source .ui-tabview {
    background: none;
    border: 0 none;
    color: #5C666A;
    font-family: 'RobotoLight', Arial, Helvetica, sans-serif;
    font-weight:lighter;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
}

.Source .ui-tabview .ui-tabview-nav {
    margin-bottom: -1px;
    padding:3px 3px 0px 3px !important;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
}

.Source .ui-tabview .ui-tabview-nav li,
.Source .ui-tabview .ui-tabview-nav li.ui-state-hover {
    border:0px none !important;
    box-shadow: none !important;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
}

.Source .ui-tabview .ui-tabview-nav li a{
    padding: .5em 1em !important;
}

.Source .ui-tabview .ui-tabview-nav li.tab-doc {
    margin-right: 0;
}

.Source .ui-tabview .ui-tabview-nav li.ui-state-hover.ui-state-default a {
    color: #fff;
}

.Source .ui-tabview .ui-tabview-nav li.ui-state-default a {
    color: #fff !important;
    font-weight:normal !important;
    text-shadow: none;
}

.Source .ui-tabview .ui-tabview-nav li.ui-state-active a {
    color:#5C666A !important;
    font-weight:normal !important;
}

.Source .ui-tabview .ui-tabview-nav li.ui-state-hover {
    box-shadow: none;
}

.Source .ui-tabview .ui-tabview-nav li.ui-tabview-selected {
    background:#F5F6F7;
}

.Source .ui-tabview .ui-tabview-panels {
    border-top: 1px solid #F5F6F7;
    color: #5C666A !important;
    background: #F5F6F7;
}

.Source .ui-tabview.ui-tabview-top > .ui-tabview-nav li{top:0px !important;}
.Source .ui-tabview.ui-tabview-top .ui-tabview-nav.ui-widget-header{border-bottom:0px none !important;}

/** Responsive **/
@media (min-width: 961px) {
    .PFTopLinks {
        display: block
    }

    .selectmenu {
        display: none;
    }

    .mobileLogoCover {
        display: none;
    }

    .PFNextGen iframe {
        margin-left: 100px;
    }
}

@media (max-width: 1140px) {
    #LOGOTEXTSIDE {
        width: auto;
        background: none;
    }

    #LOGOTEXTSIDE span {
        font-size: 24px;
    }

    #PFTopLinksCover .PFTopLinks {
        padding-left:0;
        padding-right:0;
    }
}

@media (max-width: 960px) {
    .PFTopLinks {
        display: none
    }

    #PFTopLinksCover {
        padding: 15px 15px 15px 15px;
    }

    .selectmenu {
        display: block;
    }

    .mobileLogoCover {
        display: block
    }

    #MENUSIDE {
        display: none;
        overflow-y:auto;
        z-index:999;
    }
    #MENUSIDE.active{
        display:block;
        width:100%;
        height:100%;
        overflow-y:auto;
        z-index:999;
    }

    #CONTENTSIDE {
        margin-left:0
    }

    #LOGOTEXTSIDE {
        display: none
    }

    .ContentSideSections{
        padding:14px 24px;
    }

    #openMenuBtn{display:inline-block; float:left; padding:10px; margin-top:-6px; margin-right: 5px; border-radius:5px; position:relative; z-index:1000;}
    #openMenuBtn.active {display: none;}
    #openMobileMenuBtn.active{display: inline-block; background-color:#98C10D;}
    #openMenuBtn:hover, #openMenuBtn:focus,
    #openMobileMenuBtn:hover, #openMobileMenuBtn:focus{background-color:#202020;}
    #openMenuBtn img,
    #openMobileMenuBtn img{width:20px;}

    .Content33 {
        width: 100%;
    }

    .Content66 {
        width: 100%;
    }

    .ui-tabview.ui-tabview-top > .ui-tabview-nav li {
        width: 100%;
    }

    .BigButton {
        width: 100%;
    }

    .PFNextGen iframe {
        margin-left: 0;
    }

    .SubSubMenu ul li {
        width: 50%
    }
    .PropertyBox{width:44%;}
    .PropertyBox img{width:40%;}

}

@media (max-width: 768px) {
    .doc-table tbody td {
        word-break: break-word;
    }
}

.PFLayouts .Content33,
.PFLayouts .Content50 {
    box-sizing: border-box;
    padding-right: 15px;
}

.submenuhide {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.submenushow {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    max-height: 500px;
}

/* Code Styles */
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-family: Courier, 'New Courier', monospace;
    font-size: 14px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1em;
    background-color: #CFD8DC;
    color: #404C51;
    margin: 10px 0px;
}

.ui-tabview-left > .ui-tabview-nav {
    height: 150px;
}

.error-info {color: red; display: block; font-size: 12px;}
.float-right {float: right;}
.mt10 {margin-top: 10px;}
button.ui-button.ui-danger.ui-state-default, button.ui-button.ui-danger.ui-state-hover, .ui-button.ui-danger.ui-state-hover,
button.ui-button.ui-danger.ui-state-focus {
	border: 1px solid #A60C1A;
	box-shadow: 0 1px 0 #F53673 inset, 0 1px 2px rgba(0,0,0,0.2) !important;
	background: #F3033A; 
	background: linear-gradient(top, #FF273B 0%,#B70D25 100%); /* W3C */
	outline: 0 none;
}

button.ui-button.ui-white.ui-state-default, button.ui-button.ui-white.ui-state-hover, .ui-button.ui-white.ui-state-hover,
button.ui-button.ui-white.ui-state-focus {
	border: 1px solid #ffffff;
	box-shadow: 0 1px 0 #ffffff inset, 0 1px 2px rgba(0,0,0,0.2) !important;
	background: #ffffff; 
	background: linear-gradient(top, #ffffff 0%,#dedede 100%); /* W3C */
	outline: 0 none;
}
button.ui-button.ui-white.ui-state-hover, .ui-button.ui-white.ui-state-hover,
button.ui-button.ui-white.ui-state-focus {
    background: #e8e8e8;
    background: linear-gradient(top, #dedede 0%,#cccccc 100%); /* W3C */
    border: 1px solid #cccccc;
}
button.ui-button.ui-white span {text-shadow: 0 1px 0 rgba(255,255,255,0.2) !important;}

.form-field {margin-bottom: 35px;}


body {background: #000000;}
.ContentSideSections {
    background-color: #313B3F;
    border: none;
}
.ContentSideSections h1 {text-shadow: 0 1px 0 #000000;}
.Implementation {
    padding: 0;
    background: #000000;
    
}
.Implementation > img {display: block; width: 100%;}
.ui-widget-content {border: none; padding: 0; background: white;}
.toolbar {margin-bottom: 20px;} 
.ui-tabview-left > .ui-tabview-nav {position: relative; z-index: 10; height: auto;padding:0;margin:0;}
.ui-tabview.ui-tabview-left:before {
    content: "";
    position: absolute; top: 0; left: 0; bottom: 0; z-index:1;
    width: 23%;
    background: #202020;
}
.ui-grid-row {margin-bottom: 25px;}
.profile-image img {
    border: none;
    max-width: 150px;
    height: auto;
}

img.alt-loader {
    display: inline-block; vertical-align: middle;
    margin-left: 32px; 
    width: 32px; height: 32px;
}
.ql-container {border: 1px solid #e9e9e9;}
.ql-snow.ql-toolbar {background: #e9e9e9;}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{border: none; background: #111;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{background: #fff;}

.ContentSideSections.header .ui-button {
    display: inline-block; vertical-align: middle;
    padding: 0 25px;
    text-align:center; color: #97bf0d; 
    background: none;
    border: 2px solid; border-radius: 50px; outline: none !important;
}
.ContentSideSections.header .ui-button .ui-button-text {padding: 0; font-size: 15px; line-height: 31px;}
.ContentSideSections.header .ui-button:hover {
    color: rgba(255,255,255,0.75);
}

.ui-inputtext{padding: 6px; border: 1px solid #e9e9e9 !important; border-radius: 1px; box-shadow: none; background: white !important;}
.ui-inputtext.ui-state-focus {box-shadow:none; border: 1px solid #9AC30D !important;}

.helper-btn {
    display: inline-block; vertical-align: middle;
    width: 40px; height: 40px; 
    padding: 5px;
    font-size: 18px !important; color: #313b3f; text-align: center; line-height: 26px; 
    background: none;
    border: 2px solid; border-radius: 50%;  
    cursor: pointer;
    -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing: border-box; 
    }
    .helper-btn:hover {color: #97bf0d;}
.ui-button-text-icon-left .fa {color: white;}