.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 3em;
  text-align: center;
  background-image: url('app/shared/resources/img/crew-background.jpg');
  background-position: top center;
  background-size: cover;
  box-sizing: border-box;
}
.login-page .form-content {
  width: 33.33333%;
  margin-left: 33.33333%;
  padding: 40px 0;
}
.login-page .form-content .form-group {
  padding: 8px 0;
  margin-bottom: 1rem;
}
.login-page .form-content .form-group input[type="text"],
.login-page .form-content .form-group input[type="password"] {
  display: block;
  width: 100%;
  height: 46px;
  padding: 10px 16px;
  color: #fff;
  font-size: 18px;
  line-height: 1.33;
  background: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: none;
  box-sizing: border-box;
  outline: none !important;
}
.login-page .form-content .form-group input[type="text"].ng-invalid.ng-dirty,
.login-page .form-content .form-group input[type="password"].ng-invalid.ng-dirty {
  border-bottom-color: #be0000;
}
@media screen and (max-width: 800px) {
  .login-page .form-content {
    width: 100%;
    margin-left: 0;
  }
}
.login-page button {
  display: inline-block;
  vertical-align: middle;
  padding: 0 25px;
  margin-bottom: 10px;
  text-align: center;
  white-space: nowrap;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
  background: #222;
  border: 2px solid rgba(255, 255, 255, 0.75);
  border-radius: 50px;
  outline: none !important;
}
.login-page button:hover {
  color: #97BF0D;
  border-color: #97BF0D;
  cursor: pointer;
}
.login-page p {
  font-size: 13px;
}
.login-page p a {
  color: #fff;
  cursor: pointer;
}
