<template [ngIf]="formData">
    <form [ngFormModel]="formData" novalidate [class.loading]="loading">
        <div class="ui-grid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-3">Name: </div>
                <div class="ui-grid-col-9">
                    <input type="text" pInputText ngControl="name" />
                    <span *ngIf="formData.controls.name.dirty && !formData.controls.name.valid && formData.controls.name.hasError('required')" class="error-info">Name is required</span>
                </div>
            </div>
            
            <div class="ui-grid-row">
                <div class="ui-grid-col-3">Gender: </div>
                <div class="ui-grid-col-9">
                    <input type="text" pInputText ngControl="gender" />
                    <span *ngIf="formData.controls.gender.dirty && !formData.controls.gender.valid && formData.controls.gender.hasError('required')" class="error-info">Gender is required</span>
                </div>
            </div>
            
            <div class="ui-grid-row">
                <div class="ui-grid-col-3">Profession: </div>
                <div class="ui-grid-col-9">
                    <input type="text" pInputText ngControl="profession" />
                </div>
            </div>
            
            <div class="ui-grid-row">
                <div class="ui-grid-col-3">Age: </div>
                <div class="ui-grid-col-9">
                    <input type="text" pInputText ngControl="age" />
                </div>
            </div>
            
            <div class="ui-grid-row">
                <div class="ui-grid-col-3">Hair: </div>
                <div class="ui-grid-col-9">
                    <input type="text" pInputText ngControl="hair" />
                </div>
            </div>
            
            <div class="ui-grid-row">
                <div class="ui-grid-col-3">Eyes: </div>
                <div class="ui-grid-col-9">
                    <input type="text" pInputText ngControl="eyes" />
                </div>
            </div>
            
            <div class="ui-grid-row">
                <div class="ui-grid-col-3">Figure: </div>
                <div class="ui-grid-col-9">
                    <input type="text" pInputText ngControl="figure" />
                </div>
            </div>
            
            <div class="ui-grid-row">
                <div class="ui-grid-col-3">Tallness: </div>
                <div class="ui-grid-col-9">
                    <input type="text" pInputText ngControl="tallness" />
                </div>
            </div>
            
            <div class="ui-grid-row">
                <div class="ui-grid-col-3">Address: </div>
                <div class="ui-grid-col-9">
                    <textarea pInputTextarea ngControl="address" cols="45" rows="10"></textarea>
                </div>
            </div>
            
            <div class="ui-grid-row">
                <div class="ui-grid-col-3">Police records: </div>
                <div class="ui-grid-col-9">
                    <textarea pInputTextarea ngControl="police_records" cols="45" rows="10"></textarea>
                </div>
            </div>
            
            <div class="ui-grid-row">
                <div class="ui-grid-col-3">Image: </div>
                <div class="ui-grid-col-9">                    
                    <input type="file" #inputImage accept="image/*" (change)="processFile(inputImage)" />
                    <div *ngIf="formData.controls['image'].value" class="clearfix mt10">
                        <img [src]="formData.controls['image'].value" alt="Image preview" class="ui-grid-col-2" />
                    </div>
                    <p class="help-block">Maximum upload size 512KB. Acceptable file types: jpg, jpeg, png. Recommended image ratio 1:1.3. Recommended dimensions: 230x300px.</p>                    
                </div>
            </div>
            
        </div>
        
        <h2 class="form-field text-right">
            <button pButton icon="fa-floppy-o" label="Save" type="button" (click)="onClickSave()" [disabled]="!formData.valid"></button>
            <button pButton icon="fa-times-circle-o" label="Cancel" type="button" (click)="onClickCancel()"></button>
        </h2>
    </form>
</template>