<template [ngIf]="formData">
    <form [ngFormModel]="formData" novalidate [class.loading]="loading">
        <div class="form-field">
            <h3 class="first">Title</h3>
            <input type="text" ngControl="title" pInputText />
            <span *ngIf="formData.controls.title.dirty && !formData.controls.title.valid && formData.controls.title.hasError('required')" class="error-info">Title is required</span>
        </div>

        <div class="form-field">
            <h3 class="first">Description</h3>
            <p-editor ngControl="desc"></p-editor>
        </div>

        <h2 class="form-field text-right">
            <button pButton icon="fa-floppy-o" label="Save" type="button" (click)="onClickSave()" [disabled]="!formData.valid"></button>
            <button pButton icon="fa-times-circle-o" label="Cancel" type="button" (click)="onClickCancel()"></button>
        </h2>
    </form>
</template>